# Configuración general del plugin
language: es      # Idioma del plugin (es = Español | en = Inglés)

database:
  enabled: false  # (true = MySQL | false = SQLite)
  # Configuración de MySQL
  host: "localhost"
  port: 3306
  name: "torneodb"
  user: "root" 
  password: "password" 
  id: "server1"  # Identificador único del servidor
  tables:         # Tablas disponibles en la base de datos
    # <Tabla>:
      # - <Mapa>
      # - <Mapa1>
    Amistoso:
    TorneoT1:
      - Mini Towers:TE
  defaultTable: Amistoso  # Tabla por defecto

draft:
  suggestions: true    # Los capitanes recibirán sugerencias de jugadores para elegir
  timer: true         # Los capitanes tendrán un tiempo límite para elegir
  secondPickBalance: true # Si es true y el draft es impar, el segundo capitán tendrá un jugador más
  order: "ABBAAB"     # Orden de elección: A = Primer Capitán, B = Segundo Capitán
  minOrder: 8              # Número mínimo de jugadores para aplicar el orden
  reroll: false # Los capitanes podrán volver a ser elegidos.

rankeds:
  activeProfile: "default"  # Perfil activo de ranked
  tables:              # Tablas disponibles para rankeds
    - RankedT1
    - TowersT1
  profiles:
    default:
      min: 4
      max: 6
      timer: # Tiempo en segundos
        waiting: 30 # Tiempo de espera cuando alguien de la queue no se ha conectado.
        minReached: 15 # Se llega al mínimo de jugadores.
        full: 5 # La queue está llena.
        disconnect: 30  # Tiempo en segundos para que un jugador reconecte sin penalización
      matchmaking: false # (true = equipos automaticos | false = capitanes automaticos)
      order: "ABBA"  # Orden de elección: A = Primer Capitán, B = Segundo Capitán (SI MATCHMAKING = FALSE)
      reroll: true # Los capitanes podrán volver a ser elegidos.
      table: RankedT1  # Tabla para este perfil
      mapPool: "default"  # Map pool de PGM para este perfil
    towers:
      min: 6
      max: 8
      timer:
        waiting: 30
        minReached: 15
        full: 5
        disconnect: 60
      matchmaking: false
      order: "ABBABAA"
      reroll: true
      table: TowersT1
      mapPool: "towers"

preparationTime:
  enabled: true
  maps:
    # <Mapa>:
      # P1: <x1>, <y1>, <z1>  # Coordenada mínima de la región protegida
      # P2: <x2>, <y2>, <z2>  # Coordenada máxima de la región protegida
      # Timer: <tiempo>        # Tiempo de preparación en minutos
      # Haste: <tiempo>        # Tiempo de haste en minutos
    Mini Towers:TE:
      P1: -9, 0, -16
      P2: 37, 45, 20
      Timer: 4
      Haste: 3

privateMatch: # Mapas que al cargar nadie podrá entrar.
  # - <Mapa1>
  # - <Mapa2>
  - Mini Towers:TE