# Configuración general del plugin
language: es      # Idioma del plugin (es = Español | en = Inglés)

database:
  enabled: false  # (true = MySQL | false = SQLite)
  # Configuración de MySQL
  host: "localhost"
  port: 3306
  name: "torneodb"
  user: "root" 
  password: "password" 
  tables:         # Tablas disponibles en la base de datos
    # <Tabla>:
      # - <Mapa>
      # - <Mapa1>
    Amistoso:
    TorneoT1:
      - Mini Towers:TE
  defaultTable: Amistoso  # Tabla por defecto

draft:
  suggestions: true    # Los capitanes recibirán sugerencias de jugadores para elegir
  timer: true         # Los capitanes tendrán un tiempo límite para elegir
  secondPickBalance: true # Si es true y el draft es impar, el segundo capitán tendrá un jugador más
  order: "ABBAAB"     # Orden de elección: A = Primer Capitán, B = Segundo Capitán
  minOrder: 8              # Número mínimo de jugadores para aplicar el orden

rankeds:
  disconnectTime: 30  # Tiempo en segundos para que un jugador reconecte sin penalización
  size:
    min: 4
    max: 6
  matchmaking: false # (true = equipos automaticos | false = capitanes automaticos)
  order: "ABBAAB"  # Orden de elección: A = Primer Capitán, B = Segundo Capitán (SI MATCHMAKING = FALSE)
  tables:              # Tablas disponibles para rankeds
    # - <Tabla>
    # - <Tabla1>
    - RankedT1
  defaultTable: RankedT1  # Tabla por defecto para rankeds
  maps: # Lista de mapas disponibles para rankeds
    # - <Mapa>
    # - <Mapa1>
    - Mini Towers:TE

preparationTime:
  enabled: true
  maps:
    # <Mapa>:
      # P1: <x1>, <y1>, <z1>  # Coordenada mínima de la región protegida
      # P2: <x2>, <y2>, <z2>  # Coordenada máxima de la región protegida
      # Timer: <tiempo>        # Tiempo de preparación en minutos
      # Haste: <tiempo>        # Tiempo de haste en minutos
    Mini Towers:TE:
      P1: -9, 0, -16
      P2: 37, 45, 20
      Timer: 4
      Haste: 3

privateMatch: # Mapas que al cargar nadie podrá entrar.
  # - <Mapa1>
  # - <Mapa2>
  - Mini Towers:TE